<div class='panel-body'>
  <div class='row'>
    <div class='col-md-4'>
      <form class="form-inline">
        <div class="form-group">
          <label for="searchForm">Search/Filter by:</label>
          <input type="text" class="form-control" [(ngModel)]='filterBy'>
        </div>
      </form>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6'>
      {{ pageTitle }}
      <h3>Filtered by: {{ filterBy }}</h3>
    </div>
  </div>
  <div class='has-error'></div>
  <div class="row" *ngIf='items && items.length'>
    <div class="col-sm-4 col-lg-4 col-md-4" *ngFor='let item of items | itemFilter:filterBy'>
      <div class="thumbnail">
          <img src="http://placehold.it/320x150" alt="">
          <div class="caption">
              <h4 class="pull-right">${{ item.price }}</h4>
              <h4><a href="#">{{ item.itemName }}</a>
              <a data-toggle="modal" href="#{{item.productId}}Modal">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
              </h4>
              <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
          </div>
          <div class="ratings">
              <p class="pull-right">15 reviews</p>
              <p>
                <stars [rating]='item.starRating' (ratingClicked)='onRatingClicked($event)'></stars>
              </p>
          </div>
          <div class="row">
            <div class="col-md-10">
              <a href="#" class="btn btn-primary" role="button">Buy</a>
              <a href="#" class="btn btn-default btn disabled" role="button">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;<span class="badge">4</span>
              </a>
              <a [routerLink]="['Detail', {id: item.itemId}]" class="btn btn-success" role="button">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              </a>
              <!-- <button type="button" class="btn btn-default btn-xs">Comment</button> -->
              
              <!-- <button class='btn btn-primary'
                      (click)='toggleImg()'>
                  {{ showImg ? 'Hide' : 'Show' }} Image
              </button> -->
              <update-item [item]='item'></update-item>
            </div>
<!--             <div class="col-md-0">
              <textarea></textarea>
            </div> -->
          </div>
      </div>
    </div>
  </div>
</div>
