<div fxLayout="row" fxLayoutAlign="center center">
    <a mat-icon-button disabled>
        <mat-icon>search</mat-icon>
    </a>
    <mat-form-field class="search-form-field">
        <input matInput type="text" placeholder="Search for..." [(ngModel)]="filterBy"/>
        <button mat-button *ngIf="filterBy" matSuffix mat-icon-button aria-label="Clear" (click)="filterBy=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <button mat-icon-button (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button> <!-- *ngIf='auth.isUserAdmin()' -->
    <a mat-icon-button [routerLink]="['/cart', auth.getAuthenticatedUserId()]">
        <mat-icon>shopping_cart</mat-icon>
    </a> <!-- *ngIf='auth.isUserAdmin()' -->
</div>
        
<ng-template #loading>
    <p style="text-align:center"><br/><br/><br/><br/><img src="assets/spin.svg"/></p>
</ng-template>

<mat-grid-list cols="3" rowHeight="550" *ngIf="(shopItems$ | async) as shopItems else loading">
    <mat-grid-tile *ngFor='let shopItem of shopItems | shopItemFilter:filterBy'>
        <mat-card class="material-card">
            <mat-card-header>
                <div mat-card-avatar class="card-header-image"></div>
                <mat-card-title>{{shopItem.name}}</mat-card-title>
                <mat-card-subtitle>
                    <span>Dog Breed</span>
                </mat-card-subtitle>
                <span class="flex-fill-remaining-space"></span>
                <span>${{shopItem.unitPrice}}</span>
            </mat-card-header>
            <img mat-card-image src="http://placehold.it/320x150" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <mat-toolbar>
                    <p-rating [(ngModel)]="shopItem.rating" [cancel]="false" readonly="true"></p-rating>
                    <span class="flex-fill-remaining-space"></span>
                    <mat-chip-list>
                        <mat-chip>{{shopItem.reviewsCount}} reviews</mat-chip>
                    </mat-chip-list>
                </mat-toolbar>
            </mat-card-actions>
            <mat-card-actions align="end">
                <button mat-icon-button (click)='addToCart(shopItem)' [disabled]='!auth.isLoggedIn()'>
                    <mat-icon>add_shopping_cart</mat-icon>
                    {{shopItem.cartCount}}
                </button> 
                <a mat-icon-button [routerLink]="['/items', shopItem._id]">
                    <mat-icon>info_outline</mat-icon>
                </a>
                <span class="flex-fill-remaining-space"></span>
                <button mat-icon-button (click)="openDialog(shopItem)">
                    <mat-icon>open_in_new</mat-icon>
                </button> <!-- *ngIf='auth.isUserAdmin()' -->                        
            </mat-card-actions>
            </mat-card>
    </mat-grid-tile>
</mat-grid-list>
