<ol class="breadcrumb">
    <li><a class="btn btn-default btn-link" role="button" (click)='goBack()'>Home</a></li>
    <li class="active">Cart</li>
</ol>
<table class="table table-striped">
    <tr>
        <th>Ref.</th>
        <th>Name</th>
        <th>Code</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Net Price</th>
        <th></th>
    </tr>
    <tr>
        <td colspan=6>
            <p *ngIf='showLoading' style="text-align:center"><br/><br/><br/><br/><img src="assets/spin.svg"/></p>
        </td>
    </tr>
    <tr *ngFor='let cartItem of userCartItems'>
        <td>{{cartItem.itemId}}</td>
        <td>{{cartItem.name}}</td>
        <td>{{cartItem.code}}</td>
        <td>{{cartItem.unitPrice}}</td>
        <td>{{cartItem.quantity}}</td>
        <td>{{cartItem.unitPrice * cartItem.quantity}}</td>
        <td>
            <p>
                <button type="button" class="btn btn-default btn-xs" (click)='increaseQuantity(cartItem)'>
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-xs" (click)='decreaseQunatity(cartItem)'>
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-danger btn-xs" (click)='removeCartItem(cartItem)'>Delete</button>
            </p>
        </td>
    </tr>
</table>
