<ng-template #loading>
    <p style="text-align:center"><br/><br/><br/><br/><img src="assets/spin.svg"/></p>
</ng-template>
<table *ngIf="(userCartItems$ | async) as cartItems else loading">
    <tr>
        <th>Ref.</th>
        <th>Name</th>
        <th>Code</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Net Price</th>
        <th></th>
    </tr>
    <tr *ngFor='let cartItem of cartItems'>
        <td>{{cartItem._id}}</td>
        <td>{{cartItem.item.name}}</td>
        <td>{{cartItem.item.code}}</td>
        <td>{{cartItem.item.unitPrice}}</td>
        <td>{{cartItem.quantity}}</td>
        <td>{{cartItem.item.unitPrice * cartItem.quantity}}</td>
        <td>
            <button mat-icon-button (click)="increaseQuantity(cartItem)">
                <mat-icon>add_box</mat-icon>
            </button>
            <button mat-icon-button (click)="decreaseQunatity(cartItem)">
                <mat-icon>indeterminate_check_box</mat-icon>
            </button>
            <button mat-icon-button (click)="removeCartItem(cartItem)">
                <mat-icon>delete_forever</mat-icon>
            </button>
        </td>
    </tr>
</table>
