<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Project Title</a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="starter-template">
    <div class='panel-heading'>
      {{ title }}
      <create-item> </create-item>
    </div>
    <div class='row'>
        <ol class="breadcrumb">
            <li class="active">Home</li>
        </ol>
    </div>
    <div class="row">
        <a data-toggle="modal" href="#itemCreateModal" class="btn btn-primary" role="button">Create</a>
    </div>
        <div>
        <list-item></list-item>
    </div>
  </div>
</div>