<mat-drawer-container class="drawer-container" fullscreen>
    <mat-toolbar color="primary">
        <button mat-icon-button (click)='drawer.toggle()'>
            <mat-icon>menu</mat-icon>
        </button>
        <a mat-icon-button color="basic" [routerLink]="['/items']">Cartify</a>
        <div class="flex-fill-remaining-space"></div>
        <a mat-icon-button color="basic" [routerLink]="['/login']" *ngIf="!(isLoggedIn$ | async)">
            Sign In
        </a>
        <a mat-icon-button color="basic" (click)="logout()" *ngIf="(isLoggedIn$ | async)">
            Sign Out
        </a>
    </mat-toolbar>
    <mat-drawer #drawer mode="side"></mat-drawer>
    <main>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <div fxFlex="2%"></div>
            <div fxFlex>
                <br/>
                <router-outlet></router-outlet>
                <br/>
            </div>
            <div fxFlex="2%"></div>
        </div>
    </main>
</mat-drawer-container>
