<mat-drawer-container class="drawer-container" fullscreen>
    <mat-toolbar color="primary">
        <button mat-icon-button (click)='drawer.toggle()'>
            <mat-icon>menu</mat-icon>
        </button>
        <a mat-icon-button [routerLink]="['/items']">Cartify</a>
        <span class="flex-fill-remaining-space"></span>
        <form class="navbar-form navbar-right">
            <a mat-icon-button color="basic" [routerLink]="['/login']" *ngIf="!(isLoggedIn$ | async)">
                Sign In
            </a>
            <button mat-icon-button color="basic" (click)="logout()" *ngIf="isLoggedIn$ | async">
                Sign Out
            </button>
        </form>
    </mat-toolbar>
    <mat-drawer #drawer class="drawer-sidenav" mode="side">
        <p>Sidebar content placeholder</p>
    </mat-drawer>
    <div class="drawer-sidenav-content">
        <main>
            <router-outlet>
                <br/>
            </router-outlet>
        </main>
    </div>
</mat-drawer-container>
