<div class='panel-body'>
    <div class="col-md-11">
        <ol class="breadcrumb">
            <li><a class="btn btn-default btn-link" role="button" (click)='goBack()'>Home</a></li>
            <li class="active">Detail</li>
        </ol>
        <div class="thumbnail" *ngIf='shopItem'>
            <div class="row">
                <div class="col-md-10">
                    <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                </div>
                <div class="col-md-2">
                    <h1>
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </h1>
                    <dl>
                        <br/>
                        <dt>Code</dt>
                        <dd>{{ shopItem.code }}</dd>
                        <br/>
                        <dt>Quantity In Stock</dt>
                        <dd>{{ shopItem.quantityInStock }}</dd>
                        <br/>
                        <dt>Release Date</dt>
                        <dd>{{ shopItem.releaseDate }}</dd>
                    </dl>
                    <a class="btn btn-default btn-sm" role="button" (click)='goBack()'>Back</a>
                </div>
            </div>
            <div class="caption-full">
                <h4 class="pull-right">${{ shopItem.unitPrice }}</h4>
                <h4>{{ shopItem.name }}</h4>
                <p>{{ shopItem.description }}</p>
            </div>
            <div class="ratings">
                <p class="pull-right">3 reviews</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span> 4.0 stars
                </p>
            </div>
        </div>
        <div class="well">
            <p class="pull-right">
                <a class="btn btn-success">Leave a Review</a>
            </p>
            <h4>Customers' Reviews</h4>
            <hr>
            <div class="row" *ngFor='let shopItemReview of shopItemReviews'>
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span> Anonymous
                    <span class="pull-right">10 days ago</span>
                    <p>{{ shopItemReview.remarks }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
